<div class="rightPart">
   <!-- Mostrar Login y Join SOLO cuando NO esté autenticado -->
   @if (!(isAuthenticated$ | async)) {
     <a routerLink="/register/login"
        class="LoginButton RegisterButton"
        tabindex="0">
         Login
     </a>
     
     <a routerLink="/register/join"
        class="JoinButton RegisterButton"
        tabindex="0">
         Join
     </a>
   }
   
   <!-- Mostrar Logout y perfil SOLO cuando esté autenticado -->
   @if (isAuthenticated$ | async) {
     <a class="JoinButton RegisterButton"
        tabindex="0"
        (click)="logOut()">
         Logout
     </a>
   } 
     <!-- Este enlace ahora solo se muestra si el usuario está autenticado -->
     <a routerLink="patient">
         <img src="assets/LogIcon.avif" alt="Profile-Image">
     </a>
  
</div>