<div>
  <h1 class="titulo-formulario">Nueva Contraseña</h1>
  @if (formStatus === null){
  <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()" class="resetPasswordForm">
    <div class="grupo-input">
      <label for="email" class="etiqueta-input">Email</label>
      <input
        type="text"
        id="email"
        class="campo-input"
        formControlName="email"
        placeholder="Introduce your Email..."
        [class.input-error]="emailForm.get('email')?.touched && emailForm.get('email')?.invalid"
        required
      >
      @if (emailForm.get('email')?.touched && emailForm.get('email')?.invalid) {
        <div class="error-mensaje">
          @if (emailForm.get('email')?.errors?.['required']) {
            <div class="mensaje-error">
              El Email es obligatorio.
            </div>
          }
          @if (emailForm.get('email')?.errors?.['email']) {
            <div class="mensaje-error">
              Formato de Correo Inválido
            </div>
          }
        </div>
      }
      @if (errorMessage) {
        <div class="mensaje-error">{{ errorMessage }}</div>
      }
      @if (successMessage) {
        <div class="mensaje-exito">{{ successMessage }}</div>
      }
    </div>

    <button type="submit" class="boton-enviar" [disabled]="emailForm.invalid || isLoading">
      {{ isLoading ? 'Enviando...' : 'Enviar Email' }}
    </button>
  </form>
}
@if (formStatus === 'newPassword'){
  <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmitNewPassword()" class="resetPasswordForm">

    <div class="grupo-input">
      <label for="codec" class="etiqueta-input">Código</label>
      <input
        type="text"
        id="codec"
        maxlength="6"
        inputmode="numeric"
        pattern="[0-9]*"
        class="campo-input"
        formControlName="codec"
        [class.input-error]="newPasswordForm.get('codec')?.touched && newPasswordForm.get('codec')?.invalid"
        placeholder="Introduce your email Code"
        required
      >
      @if (newPasswordForm.get('codec')?.touched && newPasswordForm.get('codec')?.invalid) {
        <div class="error-mensaje">
          @if (newPasswordForm.get('codec')?.errors?.['required']) {
            <div class="mensaje-error">
              El código es obligatorio.
            </div>
          }
          @if (newPasswordForm.get('codec')?.errors?.['minlength']) {
            <div class="mensaje-error">
              El código está incompleto (debe tener 6 caracteres).
            </div>
          }
          @if (newPasswordForm.get('codec')?.errors?.['pattern']) {
            <div class="mensaje-error">
              Only numbers Allowed
            </div>
          }
        </div>
      }
    </div>

    <div class="grupo-input">
      <label for="newPassword" class="etiqueta-input">Nueva Contraseña</label>
      <input
        type="password"
        id="newPassword"
        maxlength="15"
        class="campo-input"
        formControlName="newPassword"
        [class.input-error]="newPasswordForm.get('newPassword')?.touched && newPasswordForm.get('newPassword')?.invalid"
        placeholder="Ingresa tu nueva contraseña"
        required
      >
      @if (newPasswordForm.get('newPassword')?.touched && newPasswordForm.get('newPassword')?.invalid) {
        <div class="error-mensaje">
          @if (newPasswordForm.get('newPassword')?.errors?.['required']) {
            <div class="mensaje-error">
              La nueva contraseña es obligatoria.
            </div>
          }
          @if (newPasswordForm.get('newPassword')?.errors?.['minlength']) {
            <div class="mensaje-error">
              La contraseña debe tener al menos 8 caracteres.
            </div>
          }
          @if (newPasswordForm.get('newPassword')?.errors?.['maxlength']) {
            <div class="mensaje-error">
              La contraseña no puede tener más de 15 caracteres.
            </div>
          }
          @if (newPasswordForm.get('newPassword')?.errors?.['passwordStrength']) {
            <div class="mensaje-error">
              La contraseña debe tener mayúsculas, minúsculas, números y símbolos.
            </div>
          }
          @if (newPasswordForm.get('newPassword')?.errors?.['whitespace']) {
            <div class="mensaje-error">
              La contraseña no puede tener espacios.
            </div>
          }
        </div>
      }
    </div>

    <button type="submit" class="boton-enviar" [disabled]="newPasswordForm.invalid || isLoading">
      {{ isLoading ? 'Actualizando...' : 'Actualizar contraseña' }}
    </button>
  </form>
}
 
  <button class="boton-enviar" (click)="returnLogin.emit()">Back</button>
</div>
