.presentationLayer {
    position: relative;
  }
  
  .presentationLayer img {
    width: 100%;
    height: 100vh;
    opacity: 0.7;
  }

  .Meet-Us {
    width: 45%;
    height: 10%;
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: bolder;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    mix-blend-mode: screen;
    position: absolute;
    padding: 40px 60px;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -25%);
    background-color:white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: sideShift 4s ease-in-out infinite;
    cursor: pointer;
    transition: font-size 0.8s;
    text-decoration: none;
    color: inherit;
  }

  @keyframes sideShift {
    0%, 100% {
      transform: translate(-50%, -25%);
    }
    50% {
      transform: translate(-40%, -25%);
    }
  }

  .Meet-Us:hover {
    animation-play-state: paused;
    font-size: clamp(1.7rem, 3.2vw, 3.2rem);;
  }

  @media(max-width: 430px){
    .Meet-Us{
      width: 50%;
    }
  }
