<div class="inputSearchContainer">
  <app-navigation-bar-left></app-navigation-bar-left>
  <div>
    <input type="text" #busquedaInput class="searchingTest" placeholder="Busque su Cita Aquí" (keyup.enter)="buscarPrueba(busquedaInput.value)"/>
  </div>
  <app-navigation-bar-right></app-navigation-bar-right>
</div>
<div class="allContainer">
    <nav>
        <div class="scrollOfTechArea" #scrollContainer>
            <img #imgRef src="assets/MGI.avif" id="" alt="Medicina General Integral" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Consulta-Externa.avif" id="Consulta Externa" alt="Consulta Externa" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Hemograma.avif" id="" alt="Analisis de Sangre" (click)="sendImageId($event)">
            <img #imgRef src="assets/Orina.avif" id="" alt="Orina" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Rayos-x.avif" id="" alt="Rayos x" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Urgencias.avif" id="" alt="Urgencias" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Muela.avif" id="" alt="Odontología" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Atencion-Telefonica.avif" id="" alt="Atencion Telefonica" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Hospitalizacion.avif" id="" alt="Hospitalización" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Cirugias.avif" id="" alt="Cirugias" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Fisioterapia.avif" id="" alt="Fisioterapia" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Psicologia.avif" id="" alt="Psicologia" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Medicina-Preventiva.avif" id="" alt="Medicina Preventiva" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Telemedicina.avif" id="" alt="Telemedicina" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Cobertura-Internacional.avif" id="" alt="Cobertura Internacional" (click)="sendImageId($event)" loading="lazy">
            <img #imgRef src="assets/Calendario.avif" id="" alt="Calendario" (click)="sendImageId($event)" loading="lazy">
        </div>
    </nav>
    <div class="cuadro">
        <span *ngIf="!selectedInfo && !unicVar">Clicka una imagen</span>
        <div *ngIf="openModal" class="openModal">
          <h3>Seleccione alguna de las siguientes opciones</h3>
          <div *ngFor="let opcion of opcionesTexto.split('\n- ')" class="optionsForDate">
            <span (click)="selectedInfoFromModal(opcion)">- {{ opcion }}</span>
          </div>
          <div class="buttonContainer">
            <button (click)="cancelarSeleccion()">Cancelar</button>
          </div>
        </div>
        <div *ngIf="selectedInfo" class="info">
          <h3>{{ selectedInfo.titulo }}</h3>
          <p>{{ selectedInfo.descripcion }}</p>
          <div class="buttonContainer">
            <button>{{ selectedInfo.precio}} (Precio sin Seguro)</button>
            <button>¿Lo Tienes Cubierto?</button>
          </div>
        </div>
      </div>
</div>


